schema/src/main/resources/schema/common/common-v1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="urn:healthmedia:schema:common:v1"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:atom="http://www.w3.org/2005/Atom"
		xmlns:tns="urn:healthmedia:schema:common:v1"
		elementFormDefault="qualified" attributeFormDefault="unqualified"
		version="1.0">

	<xsd:import 
		namespace="http://www.w3.org/2005/Atom" 
		schemaLocation="../external/atom.xsd" />

	<xsd:simpleType name="textType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="|([A-Za-z0-9\s._%'-/:#]*)" />
			<xsd:maxLength value="200" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="alphaNumericType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="|([A-Za-z0-9]*)" />
			<xsd:maxLength value="200" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="positiveIntegerType">
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="0" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:complexType name="entityType" abstract="true">
		<xsd:sequence>
			<xsd:element name="id" type="tns:textType" minOccurs="0" maxOccurs="1" />
			<xsd:element name="link" type="atom:linkType"/>
			<xsd:element name="createDate" type="xsd:dateTime" minOccurs="0"  maxOccurs="1" />
			<xsd:element name="updateDate" type="xsd:dateTime" minOccurs="0" maxOccurs="1" />
			<xsd:element name="version" type="tns:positiveIntegerType" minOccurs="0" maxOccurs="1" />
			<xsd:element name="extension" type="tns:extensionType" minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
		<xsd:attributeGroup ref="atom:commonAttributes"/>
	</xsd:complexType>
	
	<xsd:attributeGroup name="commonAttributes">
		<xsd:anyAttribute namespace="##other"/>
	</xsd:attributeGroup>

	<xsd:complexType name="extensionType">
		<xsd:sequence>			 
			<xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
		<xsd:anyAttribute namespace="##other" />
	</xsd:complexType> 
	
</xsd:schema>