schema/src/main/resources/schema/common/common-error-v1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="urn:healthmedia:schema:common-error:v1"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="urn:healthmedia:schema:common-error:v1"
	elementFormDefault="qualified" attributeFormDefault="unqualified"
	version="1.0">

	<xsd:complexType name="errorType">
		<xsd:annotation>
			<xsd:documentation>Standard Error Response. Errors may contain collections of other errors.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="code" type="xsd:string" minOccurs="1" maxOccurs="1" />
			<xsd:element name="name" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="actor" type="xsd:anyURI" minOccurs="0" maxOccurs="1" />
			<xsd:element name="detail" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="error" type="tns:errorType" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
		<xsd:anyAttribute namespace="##any" processContents="lax" />
	</xsd:complexType>
	
	<xsd:element name="error" type="tns:errorType" />
	
</xsd:schema>