schema/src/main/resources/service/user-v1.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions 
	xmlns:tns="urn:healthmedia:wsdl:user:v1"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:user="urn:healthmedia:schema:user:v1"
	xmlns:ds="urn:healthmedia:schema:data-source:v1"
	xmlns:common="urn:healthmedia:schema:common:v1"
	xmlns:common-error="urn:healthmedia:schema:common:error:v1" 
	xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
	xmlns:bpws="http://schemas.xmlsoap.org/ws/2003/03/business-process/"
	xmlns="http://schemas.xmlsoap.org/wsdl/" 
	targetNamespace="urn:healthmedia:wsdl:user:v1"
	name="userService">

	<documentation>Version 1.0</documentation>
	
	<types>
		<xsd:schema 
			targetNamespace="urn:healthmedia:wsdl:user:v1" 
			elementFormDefault="qualified">
			<xsd:import 
				schemaLocation="../schema/entity/user-v1.xsd" 
				namespace="urn:healthmedia:schema:user:v1" />
			<xsd:import 
				schemaLocation="../schema/entity/data-source-v1.xsd" 
				namespace="urn:healthmedia:schema:data-source:v1" />
			<xsd:import 
				schemaLocation="../schema/common/common-error-v1.xsd" 
				namespace="urn:healthmedia:schema:common:error:v1" />
			
			<!-- generated WSDL doesn't function properly in ode unless all messages are declared within the source WSDL -->
			<xsd:element name="importUserRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="user:user" />
						<xsd:element name="processType" type="ds:dataSourceType" minOccurs="0" />
						<xsd:element name="modality" type="xsd:string" minOccurs="0" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="importUserResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="user:user" minOccurs="0" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="error" type="common-error:errorType" />
		</xsd:schema>
	</types>

	<message name="error">
		<part element="tns:error" name="error" />
	</message>
	<message name="importUserRequest">
		<part element="tns:importUserRequest" name="parameters" />
	</message>
	<message name="importUserResponse">
		<part element="tns:importUserResponse" name="parameters" />
	</message>

	<!-- interface of generated java service is named after the portType name (e.g. UserService.java) -->
	<portType name="userService">
		<operation name="importUser">
			<documentation>
				This service allows for the import of complete AND partial user profile information. As such it is not considered a core
				capability of the entity service but rather merely a supporting capability. Data quality is not strictly enforced here as
				completeness of data is not a requirement.
			</documentation>
			<input message="tns:importUserRequest" />
			<output message="tns:importUserResponse" />
			<fault name="error" message="tns:error"/>
		</operation>
	</portType>

	<!-- expose partner link to BPEL process -->
	<plnk:partnerLinkType name="userServicePartnerLinkType">
		<plnk:role name="userServiceProvider" portType="tns:userService" />
	</plnk:partnerLinkType>
	
	<!-- expose entity id to BPEL processes for correlation -->
	<bpws:property name="userId" type="xsd:string" />

	<!-- map correlation id to message -->
	<bpws:propertyAlias messageType="tns:importUserRequest" part="parameters" propertyName="tns:userId">
		<bpws:query><![CDATA[/user:user/common:id]]></bpws:query>
	</bpws:propertyAlias>

</definitions>
