schema/src/main/resources/schema/service/user-data-v1.wadl

<?xml version="1.0" encoding="UTF-8"?>
<application 
	xmlns="http://wadl.dev.java.net/2009/02"
	xmlns:tns="urn:healthmedia:wadl:user-data:v1"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:user="urn:healthmedia:schema:user:v1"
	xmlns:error="urn:healthmedia:schema:common-error:v1"
	xsi:schemaLocation="http://wadl.dev.java.net/2009/02 wadl.xsd">
	
	<grammars>
		<include href="../entity/user-v1.xsd" />
		<include href="../common/common-error-v1.xsd" />
	</grammars>
	
	<resources base="http://localhost:8080">
		<resource path="/user-data/" id="userDataService">
			<resource path="{id}">
				<method name="GET" id="findById">
					<request>
						<param type="xsd:string" style="template" name="id"/>
					</request>
					<response status="200">
						<representation mediaType="application/vnd.healthmedia.user-data+json;version=1.0" element="user:userData" />
						<representation mediaType="application/vnd.healthmedia.user-data+xml;version=1.0" element="user:userData" />
					</response>
					<response status="400">
						<representation mediaType="application/vnd.healthmedia.error+json;version=1.0" element="error:error" />
						<representation mediaType="application/vnd.healthmedia.error+xml;version=1.0" element="error:error" />
					</response>
				</method>
			</resource>
			<method name="GET" id="findByQuery">
				<request>
					<!-- valid 'query' values are: 'data.name+user.id+updateDate.range' -->
					<param name="query" type="xsd:string" style="query" required="false" />
					<param name="updateDate.start" type="xsd:dateTime" style="query" required="false" />
					<param name="updateDate.end" type="xsd:dateTime" style="query" required="false" />
					<param name="data.name" type="xsd:string" style="query" required="false" />
					<param name="user.id" type="xsd:string" style="query" required="false" />
				</request>
				<response status="200">
					<representation mediaType="application/vnd.healthmedia.user-data-collection+json;version=1.0" element="user:userDataCollection" />
					<representation mediaType="application/vnd.healthmedia.user-data-collection+xml;version=1.0" element="user:userDataCollection" />
				</response>
				<response status="400">
					<representation mediaType="application/vnd.healthmedia.error+json;version=1.0" element="error:error" />
					<representation mediaType="application/vnd.healthmedia.error+xml;version=1.0" element="error:error" />
				</response>
			</method>
			<method name="POST" id="create">
				<request>
					<!--  can create one or many entity objects at once -->
					<representation mediaType="application/vnd.healthmedia.user-data+json;version=1.0" element="user:userData" />
					<representation mediaType="application/vnd.healthmedia.user-data+xml;version=1.0" element="user:userData" />
				</request>
				<response status="200">
					<representation mediaType="application/vnd.healthmedia.user-data+json;version=1.0" element="user:userData" />
					<representation mediaType="application/vnd.healthmedia.user-data+xml;version=1.0" element="user:userData" />
				</response>
				<response status="400">
					<representation mediaType="application/vnd.healthmedia.error+json;version=1.0" element="error:error" />
				</response>
			</method>
			<method name="POST" id="createCollection">
				<request>
					<!--  can create one or many entity objects at once -->
					<representation mediaType="application/vnd.healthmedia.user-data-collection+json;version=1.0" element="user:userDataCollection" />
					<representation mediaType="application/vnd.healthmedia.user-data-collection+xml;version=1.0" element="user:userDataCollection" />
				</request>
				<response status="200">
					<representation mediaType="application/vnd.healthmedia.user-data-collection+json;version=1.0" element="user:userDataCollection" />
					<representation mediaType="application/vnd.healthmedia.user-data-collection+xml;version=1.0" element="user:userDataCollection" />
				</response>
				<response status="400">
					<representation mediaType="application/vnd.healthmedia.error+json;version=1.0" element="error:error" />
					<representation mediaType="application/vnd.healthmedia.error+xml;version=1.0" element="error:error" />
				</response>
			</method>
		</resource>
	</resources>
</application>
