schema/src/main/resources/schema/service/user-v1.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="urn:healthmedia:wsdl:user:v1" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
	xmlns:bpws="http://schemas.xmlsoap.org/ws/2003/03/business-process/"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	targetNamespace="urn:healthmedia:wsdl:user:v1"
	name="UserService">
	
	<documentation>Version 1.0</documentation>
	
	<types>
		<xsd:schema targetNamespace="urn:healthmedia:wsdl:user:v1">
			<xsd:element name="AddUser">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="AddUserResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</types>
	
	<!-- part of abstract wsdl. defines the messages that make up part of the service interface -->
	<message name="AddUserRequest">
		<part element="tns:AddUser" name="parameters" />
	</message>
	<message name="AddUserResponse">
		<part element="tns:AddUserResponse" name="parameters" />
	</message>
	
	<!--  part of abstract wsdl. defines the service's methods/operations. this along with the messages define the service's interface -->
	<!--  naming convention: portType should reflect the interface name (e.g. UserService.java) -->
	<portType name="UserService">
		<operation name="AddUser">
			<input message="tns:AddUserRequest" />
			<output message="tns:AddUserResponse" />
		</operation>
	</portType>

	<!-- see 441 add partner link-->
	
	<!-- expose entity id to bpel processes -->
	<bpws:property name="userId" type="xsd:string" />
	
	<bpws:propertyAlias 
		messageType="tns:AddUserRequest" 
		part="user" 
		propertyName="tns:userId" 
		query="/tns:user/tns:id" />
	
	<plnk:partnerLinkType name="VendorPartnerLinkType">
		<plnk:role name="serviceProvider">
			<plnk:portType name="tns:UserService" />
		</plnk:role>
	</plnk:partnerLinkType>
	
</definitions>
